$mainBgColor:"#404040";

$mainContentWidth:75%;
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;



.headerMY{
  color: $mainBgColor;
}
.b{
  width: percentage(360px / 960px);
}


@import "compass";
@import "compass/reset";
@import "partials/header";
@import "partials/body";




